<!DOCTYPE html>
<html> 
  <head> 
	
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
	 <link rel="stylesheet" type="text/css" href="/assets/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    .login{
     width:50%;
     height:50%;
     bottom:1;
     margin:0 auto;
    }
    .imgicon {
      
    margin: 6px 0 9px 0;
    }
    img.avatar {
    width: 70%;
    border-radius: 80%;
    right:20%;
    }
      

/* Style all input fields */
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}
.intro {
    background-color: #f4511e;
    color: #fff;
    padding: 20px 20px;
    font-family: Montserrat, sans-serif;
}




label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: left;
}
input {
  display: inline-block;
  float: left;
  width:400px;
}

/*Style the submit button */
input[type=submit] {

    background-color: grey;
    color: white;
    width:160px;
}

/*Style the container for inputs */
/*.container {
    background-color: #f1f1f1;
    padding: 20px;
}*/

/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}


#message p {
    padding: 10px 35px;
    font-size: 12px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}

    © 2017 GitHub, Inc.
    Terms
    Privacy
    </style>
  Welcome
	</head>
  
  <body>
		  <div class="intro">
		      <h1><center> Welcome to Wipro Inventory Management System</center></h1>
		  </div>	

     <table align="center">
      <tr>
        <th>


	   <div class="login" align="center" style="max-height: 70%">
      <div class="imgicon">
                <img src="http://churchinperth.com/ChurchesWA/wp-content/uploads/2015/04/gfx-person-icon.png" alt="Avatar" class="avatar">
                </div>
  		  <form method="post" action="/MainMenu">
          <p >
    		    <label for="username">Username</label>
    		    <input type="text" id="username" placeholder="Enter your username" name="username" size="35"required><br>
          </p>
          <p>
    		    <label for="password">Password</label>
    		    <input type="password" id="password" placeholder="Enter your password" name="password" size="35"pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
    			</p>
          <p>
    		    <input type="submit" value="Login" >
            <!--<input type="checkbox" checked="checked"> Remember me-->
          </p>
          
  		  </form>
        <p>
        <form action="/">
        <input type="submit" value="Back" size="10"/>
        </form> 
        </p>
	   </div>
   	 </th>
     </tr>
    </table>		

</body>
</html>


