<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link rel="stylesheet" type="text/css" href="../assets/register.css"/>-->
 <style>
 .box-one {
background: #f4511e;
padding:24px 20px; 
font-family: Montserrat, sans-serif;
text-align:center;
color: #ffffff;
}
h1 { 
    display: block;
    margin-top:-60px;
    margin-bottom: 0.8em;
    font-weight: bold;
}
h4{
  display:block;
  margin-top:-20px;
  margin-right:200px;
}
img.logo{
  margin-top:-100px;
}
img{
  margin-top:20px;
}
footer{
  margin-top:400px;
}
</style>
</head>


<body>
<div class="box">
  <img src="http://static1.squarespace.com/static/53b9e922e4b0cdea486fc7ca/t/53c344dae4b0fb85d4199a8f/1405306076935/icon-4-track.png" width="60px"><b>Wipro IMS<b>
   <h4><center>New User Portal</center></h4>
    <div>
      <a style="float:right; margin-top:-30px;" href="/" data-toggle="tooltip" title="Logout"><span style="font-size:30px; color:white" class="glyphicon glyphicon-log-out"></span></a>
    </div>
  </div>
  <br>



</body>

</html>