<!DOCTYPE html>
<html> 
  <head> 
	
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
	 <link rel="stylesheet" type="text/css" href="/assets/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
   

.intro {
    background-color: #f4511e;
    color: #fff;
    padding: 20px 20px;
    font-family: Montserrat, sans-serif;
}

p{
    display: inline-block;
    float: left;
    clear: left;
    width: 400px;
    text-align: left;
    line-height:2em;
   	
}
input {
  display: inline-block;
  float: left;
  width:400px;
}

/*Style the submit button */
button[type=submit] {

    background-color: grey;
    color: white;
    width:160px;
}
    </style>
	</head>
  
  <body>
		  <div class="intro">
              <h1><center>Wipro Inventory Management System</center></h1>
              <h4><center>Forget Password</center></h4>
              </div>
     <table align="center">
      <tr>
        <th>
        	<br>
		<form method="post" action="changePassword">
		<p>
			Username
			<input type="text" required name="username"/>
		</p>
		<p> 
			Email
			<input type="text" required name="email"/>
		</p>	
		<p>
			What is your mothers maiden name?
			<input type="text" required name="securityAnswer1"/>
		</p>
		<p>
			What is the street you grew up on?
			<input type="text" required name="securityAnswer2"/>
		</p>
		<p>
			What is your grandfathers first name?<br>
			<input type="text" required name="securityAnswer3"/><br>
		</p>
		<p>
			<button type="submit">Change Password</button> 
		</p>
		</form>
   	 </th>
     </tr>
    </table>		

</body>
</html>
