<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<style >
 body {
    background: url(http://ft7q323msjfk2hgf49jihjgw.wpengine.netdna-cdn.com/wp-content/uploads/2015/03/Warehouse-background-image_low-res_gradient-750x486.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
    .box{
      background-color: #2C3539;
      color: #fff;
      padding: 5px 5px;
      font-family:new century schoolbook;
      font-size: 20px;
  }
  ..main {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: center;
    -moz-box-flex: center;
    -webkit-flex: center;
    -ms-flex: center;
    flex: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    }
    .main {
    background: #262626;
    padding: 2em 2em;
    font-family: helvetica, sans-serif;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top:90px;
    margin-left: 460px;
    width:30%;
    }
  input {
  width: 94%;
  padding: .7em .75em;
  margin: 0 1% 1em;
  font-size: 1.2em;
  border: 2px solid #000;
  outline: none;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
}
form button {
  width: 100%;
  margin: 1em 3% 0;
  border: none;
  background: #2B65EC;
  padding: 0.5em 0;
  font-size: 1.25em;
  clear: both;
  color: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  cursor: pointer;
}
</style>
    </head>
     <body>
     <div class="box">
  <img src="http://static1.squarespace.com/static/53b9e922e4b0cdea486fc7ca/t/53c344dae4b0fb85d4199a8f/1405306076935/icon-4-track.png" width="60px"><b>Wipro IMS<b>
   <h4><center>Change Password</center></h4>
  </div>
    

    <div class="main" style="color:white">
  

    


<% if(data.length){
for(var i = 0; i < data.length; i++){%>
                 <form method= "post" action="/resetPassword">
                <p>
                        <input type="hidden" name="user_id" value="<%= data[i].user_id %>"/>
                </p>
                <p>
                    New Password
                    <input type="password" id="password" placeholder="Enter your password" name="password"/>
                </p>
                <p>
                    Retype New Password
                    <input type="password" id="password" placeholder="Enter your password"/>
                </p>    
                      
                      
                        <p>
                            <button type="submit" class="resetbutton">Reset Password</button>
                        </p>
                       
                </form>
<% }
}else{ %>
No User
<% } %>





</div>
 </body>
</html>