<!DOCTYPE html>
<html>
	<head>
	  <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/forgetPassword.css"/>

  <title>Forget Password</title>

	</head>
	<body>
		<div class="box">
  <img src="http://static1.squarespace.com/static/53b9e922e4b0cdea486fc7ca/t/53c344dae4b0fb85d4199a8f/1405306076935/icon-4-track.png" width="60px"><b>Wipro IMS<b>
   <h4><center>Forget Password</center></h4>
  </div>
   <%= msg %>

		<table align="center">
		<tr>
		<th>
		<br>
		<form method="post" action="/getUserInfo">
		<p>
			<label>Username</label>
			<input type="text" rquired name="username"/>
		</p>
		<p> 
			<label>Email</label>
			<input type="text" required name="email"/>
		</p>	

		<p>
			<button type="submit">Change Password</button> 
		</p>
		</form>
	</th>
</tr>
</table>
	

	</body>
</html>