<!DOCTYPE HTML>
<html>
  <head>
    <title>WIPRO IMS</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/index.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
  <style>
    .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
      }
    .item h4 {
        font-size: 19px;
        line-height: 1.375em;
        font-weight: 400;
        font-style: italic;
        margin: 70px 0;
      }
      .item span {
        font-style: normal;
      }
  </style>
  </head>
  <body>

    <!-- Wrapper -->
      <div id="wrapper">

        <!-- Header -->
          <header id="header">
            <div class="logo">
              <span class="circle"><img src="http://static1.squarespace.com/static/53b9e922e4b0cdea486fc7ca/t/53c344dae4b0fb85d4199a8f/1405306076935/icon-4-track.png" alt="" style="width:100%"/></span>
            </div>
            <div class="content">
              <div class="inner">
                <h1>WIPRO IMS</h1>
                <p>An inventory management system that caters to you</p>


                <div id="css">
                    <a href="/login" class="button login">  Login  </a>
                    <a href="/register" class="button register">Register</a>
                </div>
              </div>

            </div>

            <nav>
              <ul>
                <li><a href="#about">About Us</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#reviews">Reviews</a></li>
                <li><a href="#contact">Contact</a></li>
                <!--<li><a href="#elements">Elements</a></li>-->
              </ul>
            </nav>
          </header>

        <!-- Main -->
          <div id="main">

            <!-- Intro -->
              <article id="about">
                <h2 class="major">About Us</h2>
                <span class="image main"><img src="images/pic01.jpg" alt="" /></span>
                <p>We understand that owning a business can be dfficult, especially when it comes to managing inventory. Fortunately, those worries can all be forgotten with the implementation of Wipro IMS.</p>
                <p>A team of 6 of us decided to set out and create a system that will support the needs of running a business. Inventory management is one of the biggest drawbacks that often lead to costly repurcussions for any company, whether big or small. With our creation of Wipro IMS, running out or having a surplus of stock is a problem of the past. Say goodbye to unorganized reports, incorrect inventory counts, and warehouses that are empty of filled to the brim with excess stock. We have compiled and addressed the common grievences that often comes with mangaing inventory and implemented these setbacks in Wipro IMS in an easy to use structure.</p>
              </article>

            <!-- Work -->
              <article id="services">
                <h2 class="major">Services</h2>
                <span class="image main"><img src="https://www.orderhive.com/wp-content/uploads/2017/04/Inventory-Control.png" alt="" /></span>
                <div class="row slideanim">
                <div class="col-sm-4">
                  <span class="glyphicon glyphicon-stats logo-small"></span>
                  <h4>REPORTS</h4>
                  <p>Options to view or create custom user, inventory, and sales reports. You can download the reports you choose in a PDF format to either save or print.</p>
                </div>
                <div class="col-sm-4">
                  <span class="glyphicon glyphicon-user logo-small"></span>
                  <h4>MANAGER AND EMPLOYEE ACCOUNTS</h4>
                  <p>Pre-curated admin and user accounts makes it simple for businesses to limit what information their employers can access. Admin accounts allow you to choose who can access which account.</p>
                  </div>
                  <div class="col-sm-4">
                      <span class="glyphicon glyphicon-lock logo-small"></span>
                      <h4>PRIVACY</h4>
                      <p>Each account is password protected with secure password retrieval options in order to provide a safe connection.</p>
                  </div>
                  <div class="col-sm-4">
                      <span class="glyphicon glyphicon-wrench logo-small"></span>
                      <h4>CUSTOMIZABLE</h4>
                      <p>Select our prebuilt tables, or create your own, we have different options to choose from to meet your business needs.</p>
                  </div>
                  <div class="col-sm-4">
                      <span class="glyphicon glyphicon-folder-open logo-small"></span>
                      <h4>SUPPLIER MANAGMENT</h4>
                      <p>Inventory cannot exist without suppliers. With supplier management, you can add, edit, or delete supplier details to keep up with your growing business.</p>
                  </div>
                  <div class="col-sm-4">
                      <span class="glyphicon glyphicon-envelope logo-small"></span>
                      <h4>QUICK RESPONSE TIME</h4>
                      <p>Have any issues in regards to Wipro IMS? Send us an email and we will respond within a few hours and address the problem at hand.</p>
                  </div>
                  </div>
              </article>

            <!-- About -->
              <article id="reviews">
                <h2 class="major">Our Reviews</h2>
                <span class="image main"><img src="https://www.programage.com/images/Articles_img/r6Vf8tMcnrndzX42.jpg" alt="" height="255px" /></span>
                  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
                    

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                      <div class="item active">
                        <h4>"This company is the best. I am so happy with the result!"<br><span>Surya Narayanan, Vice President, Comment Box</span></h4>
                      </div>
                      <div class="item">
                        <h4>"One word... WOW!!"<br><span>Justin Grey, Salesman, Rep Inc</span></h4>
                      </div>
                      <div class="item">
                        <h4>"Could I... BE any more happy with this company?"<br><span>Antony Joseph, Actor, FriendsAlot</span></h4>
                      </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                  </div>
              </article>

            <!-- Contact -->
              <article id="contact">
                <h2 class="major">Contact</h2>
                <form method="post" action="/contactMessage">
                  <div class="field half first">
                    <label for="name">Name</label>
                    <input type="text" required name="name" id="name" />
                  </div>
                  <div class="field half">
                    <label for="email">Email</label>
                    <input type="text" required name="email" id="email" />
                  </div>
                  <div class="field">
                    <label for="message">Message</label>
                    <textarea required name="message" id="message" rows="4"></textarea>
                  </div>
                  <ul class="actions">
                    <li><input type="submit" onclick="myFunction()" value="Send Message" class="special" /></li>
                    <li><input type="reset" value="Reset" /></li>
                  </ul>
                </form>
              </article>    
          </div>
<script>
function myFunction() {
    alert("Your message has been sent! We will respond to you as soon as possible.");
}
</script>
        <!-- Footer -->
          <footer id="footer">
            <p>5445 Legacy Dr. Plano, TX US</p>
            <p>+00 123456789</p>
            <p class="copyright">&copy; Created by WIPRO IMS Team</p>
          </footer>
      </div>

    <!-- BG -->
      <div id="bg"></div>
      
    <!-- Scripts -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/skel.min.js"></script>
      <script src="assets/js/util.js"></script>
      <script src="assets/js/main.js"></script>

  </body>
</html>

   
