<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
  <link rel="stylesheet" type="text/css" href="../assets/manager.css"/>
  
    <%= msg %>
   </style>
</head>
<body ng-app="managerMenu">
  <div>
<div class="box">
  <img src="http://static1.squarespace.com/static/53b9e922e4b0cdea486fc7ca/t/53c344dae4b0fb85d4199a8f/1405306076935/icon-4-track.png" width="60px"><b>Wipro IMS</b>
   <h3 class="none" id="none"><center>Manager Portal</center></h3>
    <div>
      <a style="float:right; margin-top:-30px;" href="/" data-toggle="tooltip" title="Logout"><span style="font-size:30px; color:white" class="glyphicon glyphicon-log-out"></span></a>
    </div>
  </div>
  <br><br><br><br>
    <div id="row" style="margin-top:-90px">
            <div class="col-md-3 col-sm-4 col-lg-2" style="background-color:#2C3539">
                <div class="left-navigation" >
                    
                      <ul class="nav" id="side-menu" style="margin-top:-80px">
                  
                  
                  <li style="padding: 70px 0 0">
                        <a href="#!dashboard" class="waves-effect" style="color:white; margin-left:-10px"><i class="fa fa-clock-o fa-fw" aria-hidden="true" style="color:white"></i>Dashboard</a>
                    </li>

                        <li class="list" style="padding: 25.0px 0 0">
                            <div class="dropdown" style="color: white;cursor: pointer;">
                                <i href="#!ManageInventory" class="fa fa-cubes" aria-hidden="true" style="color: white"></i><b>Manage Inventory</b><i  aria-hidden="true" style=" margin-left:25px"></i>
                            </div>
                            <ul class="submenu hide">
                                <li><a href="createInventory">Add Inventory</a></li>
                                <li><a href="viewinventoryTables">Update Inventory</a></li>
                                <li><a href="inventoryToDelete">Delete Inventory</a></li>
                                
                            </ul>
                        </li>
                        <li style="padding: 25.0px 0 0"><i class="fa fa-users" aria-hidden="true" style="color: white"><a href="#!Users" style="color: white; margin-left:7px"><b>Manage Users</b></a></i></li>
                        <li style="padding: 25.0px 0 0"><i class="fa fa-truck" aria-hidden="true" style="color:white"> <a href="#!SupplierDetails" style="color:white"><b>Suppliers Details </b> </a></i></li>
                        <li class="list" style="padding: 25.0px 0 0">
                            <div class="dropdown" style="color:white;cursor: pointer;">
                                <i class="fa fa-line-chart" aria-hidden="true" ></i><b>Reports </b><i  aria-hidden="true" style="margin-top:-17px"></i>
                            </div>
                            <ul class="submenu hide">
                                <li><a href="userReportMenu">User Report</a></li>
                                <li><a href="inventoryReportMenu">Inventory Report</a></li>
                                <li><a href="supplierReportMenu"> Supplier Report</a></li>
                                
                            </ul>
                        </li>
                        
                        <li style="padding: 100.0px 0 0">
                        <a href="#!aboutme" class="waves-effect" style=" margin-left:-10px; color:white"><i class="fa fa-user" aria-hidden="true" style="color:white"></i><b>About Me</b></a>
                        </li>
                        <li style="padding: 10.0px 0 0">
                        <a href="#!Help" class="waves-effect" style="color:white; margin-left:-10px ; margin-bottom: 250px"><i class="fa fa-question-circle" aria-hidden="true" style="color:white"></i><b>Help</b>s</a>
                        </li>
                      </ul>
                  </div>
                </div>
              </div>
              <div id="page-wrapper">
            <div class="container-fluid" >
                <div class="row bg-title">
                 
                    <div class="col-lg-10 col-sm-8 col-md-8 col-xs-12" style="margin-top: 10px">
                        <a href="" target="_blank" class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light" style="border:none; background-color:blue">Welcome <%= user %></a>
                        <ol class="breadcrumb" style="background-color:#FFF;">
                            <li><a href="#">Dashboard</a></li>
                        </ol>
                    </div>
                    <div class="col-lg-10 col-sm-8 col-md-8 col-xs-12" ng-view=""></div>
                    </div>
              </div>
            </div><div style="margin-top:350px;">
              <footer class="container-fluid text-center">
                <p>Created By WIPRO IMS Team</p>
              </footer>
</div>

          </div>


            

            <script>
              window.onload=function(){
$('.dropdown').click(function(){
$(this).siblings(".submenu").toggleClass('hide');
});
}
            </script>





<script>
var app = angular.module("managerMenu", ["ngRoute"]);
app.config(function($routeProvider) {
    $routeProvider
    .when("/displayUsers", {
        templateUrl : "displayUsers"
    })
    .when("/viewPendingUsers", {
        templateUrl: "viewPendingUsers"
    })
    .when("/inventoryHome", {
        templateUrl : "inventoryHome"
    })
    //jorge
    .when("/ManageInventory", {
        templateUrl : "inventoryHome"
    })
    .when("/Users", {
        templateUrl : "displayUsers"
    })
    .when("/SupplierDetails", {
        templateUrl : "SupplierDetails"
    })
    .when("/newSupplierForm", {
        templateUrl : "newSupplierForm"
    })
    
    .when("/Reports", {
        templateUrl : "reportHome"
    })
    //mark 
    .when("/aboutme", {
      templateUrl : "manageAccount"
    })
    
    .when("/viewInventoryTables", {
        templateUrl : "viewInventoryTables"
    })
    .when("/inventoryTables", {
        templateUrl : "inventoryTables"
    })
    .when("/inventoryToDelete", {
        templateUrl : "inventoryToDelete"
    })
    .otherwise({
      templateUrl:"dashboard"
    })
   
});
</script>



</body>
</html>