<html>
<head>
	<% include partial/newUserNavBar.ejs %>
</head>

<body>
	<center>
	<h3 style="font-weight:bold;" >Welcome New User!!!</h3>
	<h3 style="font-weight:bold;">Please Contact Manager to upgrade your status</h3>


		 <form style="margin-left:0px" action="/">
			<input class="btn btn-success" style="background-color: lime-green; height:40px; width:150px; color:white; font-size:20px;" type="submit" value="Continue"/>
		</form>
	</center>
</body>

</html>